HackerGames2k17.sln
HackerGames2k17.userprefs
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.dll.mdb
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library/metadata/
Library/ShaderCache/
Temp/
Library/AnnotationManager
Library/AssetImportState
Library/AssetServerCacheV3
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/InspectorExpandedItems.asset
Library/LibraryFormatVersion.txt
Library/MonoManager.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptMapper
Library/assetDatabase3
